.secoes-principais {
    display: flex;
    max-width: 1280px;
    margin: 0 70px;
    padding: 0 32px;
}

.secao__perfil {
    display: flex;
    flex-direction: column;
}

.perfil__imagem {
    display: inline-block;
    height: 280px;
}

.imagem__icone {
    width: 296px;
    height: 296px;
    border-radius: 100%;
    background: url(https://avatars.githubusercontent.com/u/95385860?v=4) no-repeat center / cover;
    position: relative;
    top: -55px;
}

.imagem__status {
    width: 39px;
    height: 39px;
    border-radius: 100%;
    position: relative;
    top: -125px;
    left: 250px;
    background-color: rgb(13, 17, 23);
    border: rgb(48, 54, 61) solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil__informacoes {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.informacoes__nome {
    font-size: 1.5rem;
}

.informacoes__usuario {
    font-size: 1.25rem;
    font-weight: 100;
}

.informacoes__botao {
    background-color: rgb(33, 38, 45);
    border: rgba(240, 246, 252, 0.1) solid 1px;
    border-radius: 8px;
    line-height: 1.5rem;
    color: rgb(201, 209, 217);
    font-weight: 700;
}

.informacoes__botao:hover {
    background: #30363d;
    border-color: #8b949e;
}

.informacoes__contagem {
    display: flex;
    gap: 10px;
    font-size: .95rem;
    border-bottom: #8b949e 1px solid;
    padding: 0.5rem 0 1.5rem;
}

.contagem__contatos {
    display: flex;
    gap: 4px;
}

.contatos__icone svg {
    fill: #8b949e;
}

.contatos__numero {
    font-weight: 700;
    font-size: 0.92rem;
}

.contato__texto {
    font-weight: 300;
    color: #8b949e;
}

.conquistas {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conquistas__titulo {
    color: #cdd3d9;
}

.conquistas__imagem {
    width: 64px;
    height: 64px;
    background: url(https://github.githubassets.com/images/modules/profile/achievements/pull-shark-default.png) center / cover;
}

.conquistas__adicionais {}

.conquistas__link {
    font-size: .85rem;
    color: #58a6ff;
    font-weight: 100;
}

.conquistas__link:first-child {
    color: #3fb950;
    border: 1px solid #3fb950;
    border-radius: 50px;
    padding: .20rem .5rem;
}