.site__pesquisa {
    align-items: center;
    background-color: rgb(13, 17, 23);
    border: 1px solid rgb(48, 54, 61);
    border-radius: 5px;
    box-sizing: content-box;
    color: rgb(194, 195, 197);
    display: flex;
    height: 2rem;
    justify-content: space-around;
    font-weight: 300;
    font-size: 0.85rem;
    padding-right: 5px;
}

.site__pesquisa-botao {
    padding: 0.25em 0.375em;
    border: 1px solid rgb(48, 54, 61);
    border-radius: 5px;
    color: rgb(194, 195, 197);
}

.site__pesquisa-input {
    align-items: center;
    background-color: rgb(13, 17, 23);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(194, 195, 197);
    display: flex;
    height: 2rem;
    width: 250px;
    justify-content: space-around;
    padding: 0.5em 0.75em;
    font-weight: 300;
    font-size: 0.85rem;
    outline: 0;
}